version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: folowup_app
    volumes:
      - .:/var/www
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
        
    command: >
      sh -c "
      composer install &&
      php artisan key:generate &&
      sleep 10 &&
      php artisan migrate &&
      php artisan serve --host=0.0.0.0 --port=8000
      "
  db:
    image: mysql:8.0
    container_name: folowup_db
    environment:
      MYSQL_DATABASE: folowup
      MYSQL_USER: folowup_user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10


volumes:
  dbdata:
